body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: #fff;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  padding: 24px 15px;
}

.logo {
  text-decoration: none;
  color: #000;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 0;
}

.highlight {
  color: #2196f3;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 93px;
}

.menu > .item:not(:last-child) {
  padding-right: 47px;
}

.menu .nav-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contact {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 371px;
}

.contact > .item:not(:last-child) {
  padding-right: 50px;
}

.contact .contact-link {
  display: block;
  justify-content: space-between;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.hero-box {
  background-color: #2f303a;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
}

.hero-text {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 696px;
  height: 120px;
  margin: 0;
}

.button-hero {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 24px;
  margin-top: 30px;
}

.advantages-list {
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: flex;
}

.advantages-list > .advantages-item:not(:last-child) {
  padding-right: 30px;
}

.advantages {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.text {
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  width: 270px;
  height: 75px;
}

.offer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.offer-text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin: 0;
}

.offer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 50px;
}

.offer-list > .offer-item:not(:last-child) {
  padding-right: 30px;
}

.team {
  background-color: #f5f4fa;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team-text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin: 0;
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 50px;
}

.team-list > .team-item:not(:last-child) {
  padding-right: 30px;
}

.name-card {
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-box {
  background-color: #fff;
  display: block;
  text-align: center;
  margin: 0;
  width: 270px;
  padding: 30px 0;
}

.name-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.profession-text {
  font-size: 1rem;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.location-link {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #fff;
}

.page-footer {
  background-color: #2f303a;
}

.logo-footer {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #fff;
}

.link-footer {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff80;
}

.link-footer:hover,
.link-footer:focus {
  color: #2196f3;
}

.filter-button {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #fff;
}

.brand {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
